{% extends "public/templates/public.html" %}
<!--  -->
{% block title %} Download {% endblock %}

<!--  -->
{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Download</h1>
        </div>
    </div>
</div>
<title>Video Display</title>
<h2>Select a video to play </h2>

<p>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}
</p>
{% if filename %}
<div style="margin: 10px auto;">
    <video autoplay="autoplay" controls="controls" preload="preload">
			<source src="{{ url_for('play_video', filename=filename) }}" type="video/mp4"></source>
	</video>
</div>
{% endif %}
<form method="post" action="/display_video" enctype="multipart/form-data">
    <dl>
        <p>
            <input type="file" name="file" autocomplete="off" required>
        </p>
    </dl>

    <form name="downloadForm" action="" method="post" onsubmit="">
        <p>
            <input type="submit" value="Display"> <br>
        </p>
    </form>

</form>


<!--  -->
{% endblock %}