{% extends "public/templates/public.html" %}
<!--  -->
{% block title %} Download {% endblock %}

<!--  -->
{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Download File</h1>
        </div>
    </div>
</div>
<title>Python Flask - Video Upload and Play Example</title>
<h2>Select a video to download and play</h2>
<h6>Note that: This file will be fetch back from AI core and auto saved in /app/static/download</br>
    Video can be found atroute address: "/download/_video_name_.mp4/"
</h6>
<p>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}
</p>

{% if filename %}

<p>
	<a href="{{ url_for('.download_file') }}">Download</a>
</p>

{% endif %}

{% endblock %}