{% extends "public/templates/public.html" %}
<!--  -->
{% block title %} Download {% endblock %}

<!--  -->
{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Download</h1>
        </div>
    </div>
</div>
<title>Python Flask - Video Upload and Play Example</title>
<h2>Select a video to download and play</h2>
<h6>Note that: This file will be fetch back from AI core and auto saved in /app/static/download</br>
    Video can be found atroute address: "/download/_video_name_.mp4/"
</h6>
<p>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}
</p>
{% if filename %}
<div style="margin: 10px auto;">
    <video autoplay="autoplay" controls="controls" preload="preload">
			<source src="{{ url_for('play_video', filename=filename) }}" type="video/mp4"></source>
	</video>
</div>
{% endif %}
<form method="post" action="/download_video" enctype="multipart/form-data">
    <dl>
        <p>
            <input type="file" name="file" autocomplete="off" required>
        </p>
    </dl>

    <form name="downloadForm" action="" method="post" onsubmit="">
        <p>
            <!-- <form action="/cgi-bin/Button.py" method="post" target="_blank">
                <input type="radio" name="subject" value="-1" /> 15%
                <input type="radio" name="subject" value="1" /> auto

            </form> -->
            <input type="submit" value="Download"> <br>
        </p>
    </form>

</form>
<a class="nav-link" href="/">Home</a>

<!--  -->
{% endblock %}