{% extends "public/templates/public.html" %}
<!--  -->
{% block title %}Home{% endblock %}
<!--  -->
{% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Gallery</h1>
        </div>
    </div>
</div>
<title>Python Flask - Video Gallery for upload static folder </title>
<h2>Select a link to video </h2>
<p>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}
</p>



{% endblock %}